@import url("roots.css");

.logo-contacto {
    max-width: 150px;
    max-height: 175px;
    margin:0px auto;
    transition: all .5s ease;
}
.logo-contacto:hover{
    transform: scale(1.1); 
    filter: drop-shadow(5px 5px 10px var(--sombra));
}
.logo {
    max-width: 100px;
    max-height: 100px;
    margin:0px auto;
    transition: all .5s ease;
}
.logo:hover{
    transform: scale(1.1); 
    filter: drop-shadow(5px 5px 10px var(--sombra));
}
.texto-color{
    transition: color 1s ease;
    color: var(--texto-primario) !important;
    text-align: justify;
}

.menu-header {
    width: 100%;
    height: 90vh;
    background-image: url("../media/img/background_header_with_blur.png");
    background-size: cover;
    background-position: center;
    
}

header nav{
    background-color: var(--background-secundario);
    margin-bottom: 10px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    border-radius: 5px;
}
header nav ul{
    list-style: none;
    overflow: hidden;
    border-radius: 5px;
}
header nav ul li{
    float: left;
    width: 150px;
    text-align: center;
    margin-left: 2%;
}
header nav ul li a{
    display: block;
    font-family: ubuntuR;
    padding: 5%;
    color: white;
    text-decoration: none;
    transition: .5s ease;
}
header nav ul li a:hover{
    background-color: #023452;
    transform: scale(.95);
    color: white;
    border-radius: 5px;
}
.menu-fixed{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1%;
    /* max-width: 1000px; */
} 
.menu-fixed ul li a{
    padding: 5px 20px;
}

.darkmode-btn{
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: white;
    box-sizing: none;
    align-items: center;
    justify-content: center;
}
.texto-header {
    position:absolute;
    top: 200px;
    color: var(--texto-primario);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: WinkyR;
    font-size: 2.5rem;
    transition: width 0.7s, max-height 0.7s;
}
 
/*--------------- 👨RETRATOS👧 ---------------*/
.contenedor-retratos{
    justify-content: center;
    align-items: center;
}

.retratos{
    display: flex;
    width: 100%;
    height: 125px;
    transition: all .5s ease;
    border-radius: 8px;
    filter: drop-shadow(0 0 25px .5px var(--sombra));

    margin-top: 5%;
    border: none;
    cursor: pointer;
}
.retratos:hover{
    transform: scale(.90);
    filter: drop-shadow(5px 5px 10px var(--sombra));
}



/*--------------- 📸GAELRIA DE IMAGENES🖼 ---------------*/
.image-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-galeria {
    display: grid;
    place-items: center;
    width: 100%;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 80%;
}

.contenedor-imagen {
    position: relative;
    left: 0;
    width: 100%;
    border-radius: 5px;
    height: 250px;
    overflow: hidden;
    background-color: #efefef;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgb(0, 0, 0, 0.5);
    flex: 0.25;
}

.contenedor-imagen img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.contenedor-imagen:hover {
    flex: 2;
    cursor: pointer;
    border-radius: 8px;
}

/* --------------- FADE-UP --------------- */
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin: 20px 0;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}
.boton-inscripcion{
    position: absolute;
    top: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 777;
    font-family: SignikaNegativeB;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #053d79;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.6s, box-shadow 0.6s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.back-to-top:hover {
    background-color: #031e3b;
    transform: rotatez(360deg);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    
}

.contiene {
    perspective: 1000px;
}

.texto-footer {
    background-color: var(--background-secundario);
    color: var(--texto-primario);
    text-align: center;
    position:fixed; 
    padding: 20px;
    width: 100%;
}

.modalidades{
    border-radius: 5px; 
    box-shadow: var(--sombra) 0px 0px 15px .25px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    transition: opacity 0.7s ease;
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.7s ease;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 👇 ------------------- Responsive ACAAA ------------------- 🐌*/

@media screen and (max-width: 1200px) {
    .texto-header {
        font-size: 2.7rem;
        margin-top: 0px;
}}

@media screen and (max-width: 1100px) {
    .menu-fixed
    .texto-header {
        font-size: 2.5rem;
    }
        .retratos{
        width: 70%;
        height: 75%;
        align-items: center;
        justify-content: center;
        margin-left: 15%;
    }
}

@media screen and (max-width: 900px) {

    .texto-header {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 768px) {

    .texto-header {
        font-size: 1.8rem;
    }   
}

@media screen and (max-width: 600px) {

    /* .menu-header ul {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    } */
}
